*/data/*
!*/data/*.mat
!*/data/*.py
!*/data/*.ipynb
!*/data/*.npy

!advection/data/backends
!advection/data/problems
!advection/data/reduction_methods

__pycache__/
.ipynb_checkpoints/
gca-rom/
test_notebooks/
models/
plots/
errors/